<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPA com Angular</title>
</head>
<style>
  body{
    margin-left: 15%;
    margin-right: 15%;
  }
  .header{
    margin-bottom: 30px;
    background-color: rgb(221, 221, 221);
  }
  .usuarios{
    margin: 20px 0px;
  }
  .detalhes{
    display: flex;
  }
  .detalhes img{
    height: 35px;
    width: 35px;
  }
</style>
<body>

  <mat-toolbar class="header">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span style="margin-left: 10px;"> Meu primeiro SPA Angular</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
 
  <div>
    
    <spa-alunos [valorInicial]="valor"></spa-alunos>

    <button (click)="mudarValor()">Mudar Valor</button>
    <button (click)="reiniciarValor()">Reiniciar Valor</button>
    <button (click)="exibirTabela()">Exibir Tabela</button>
    
  </div>
  <!-- ALUNOS -->
  <div>
    <h1>Alunos</h1>
    <table *ngIf="exibeTabela">
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Curso</th>
      </tr>
      <tr *ngFor="let aluno of listaAlunos">
        <td>{{aluno.nome}}</td>
        <td>{{aluno.idade}}</td>
        <td>{{aluno.email}}</td>
        <td>{{aluno.curso}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <!--USUARIOS  -->
  <div class="usuarios">
    <h1>Usuarios</h1>
    <table>
      <tr>
        <th>Detalhes de usuario</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tr *ngFor="let usuario of listaUsuarios">
        <td class="detalhes">
          <img src="x.png" alt="">
          {{usuario.nome}}
          <br>
          {{usuario.email}}
        </td>
        <td>Editar</td>
        <td>Excluir</td>
      </tr>
    </table>
  </div>
  <hr>
  
  <spa-professores></spa-professores>

</body>

</html>